<ion-view view-title="Event">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>{{event.date}}</h3>
        <h2>{{event.title}}</h2>
        <p>{{event.place}}</p>
      </div>
      <div class="item item-body" style="text-align: center">
        <img ng-src="{{event.pic}}" width="80%" height="80%">
        <p>{{event.description}}</p>
        <ng-map id="eventMap" center="[37.7572778, -122.4619846]" zoom="11"></ng-map>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="share()">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>